body{
	margin: 1%;
	padding: 10px;
}
header{
	background: #fd0202 url("../imagenes/logo.png") no-repeat;
	background-size: 7.2%;
	font-family: Jokerman, Arial;
	text-transform: uppercase;
	text-align: center;
	padding: 2%;
}
nav a{
	display: inline-block;
	width: 17%;
	padding: 1%;
	margin-right: 50px;
	margin-left: 60px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 20px;
}
a{
	color: #ffffff;
}
iframe{
	display: inline-block;
	margin: 1% 1% 1% 10%;
	
}

footer{
	font-family: Jokerman, Arial;
}
footer img{
	width: 50px;
	display: inline-block;
	float: left;
	margin-bottom: 1%;
	padding: 10px;
}
section{
	display: inline-block;
	float: left;
	margin-left: 5%;
}
section a{
	font-family: Jokerman, Arial;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	width: 100%;
	padding: 5%;
	margin-right: 80px;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 1);
	border-radius: 20px;
}
img{
	width: 20%;	
	display: inline-block;
	float: left;
	margin-right: 2%;
	margin-left: 2%;
}
h3{
	font-family: Jokerman, Arial;
	text-align: center;
}

picture img{
	width: 100%;
	margin: 1% 0% 1% 0%;
}
